
.overlay {
    z-index: 22;
    position: absolute;
    width:100%;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    height: 100%;
    background: white;
}
.overlay-wrapper{
    transition: opacity .5s;
}
.overlay-brand {
    position: relative;
    width: 60%;
    margin: auto;
    margin-top: 10%;
    left: auto;
    z-index: 1250;
    font-size: 1.7em;
    text-align: center;
}
.overlay-top {
    z-index: 1300;
    position: absolute;
    width: 200%;
    right:0;
    height: 100%;
    top: -100%;
    background: red;
    transition: top 8s;
    -webkit-transition: top 8s;
    

    // transition-timing-function: ease;
    // transition: top 20s;
    // transition: opacity 1;
}

