Backend/env
Frontend/node_modules
Backend/hfl/settings.py
Backend/static
Backend/hfl/media/
Backend/db.sqlite3
Backend/hfl/public
Backend/build/
Backend/uploads/
Backend/hfl/migrations
Backend/exports
Frontend/static
Backend/exports
cloud_sql_proxy
Frontend/build
Backend/venv
venv
Backend/frontend/static/frontend/main.js
Backend/media
Backend/hfl/..media
node_modules
.idea
