.dropdown-class {
    width: 200px !important;
    border: solid white 1px;
    margin-top: 10px;
    div {
        font-family: "NeoRetroFill", Garamond, serif !important;
        color: white !important;
    }
}