html, body {
    overflow-y: visible;
    position: relative;
}
.agent-page-content {
    .display-format-wrapper {
        padding-top: 2%;
    }
}
.back-card-wrapper {
   z-index: -1;

   .list-value {
       z-index: 2;
       display: absolute;
   }
}
.table-value {
    color: black;
}
.agent-avatar {
    width: 100%;
}