.agent-card-wrapper {
    position: relative;
}
.button-group {
    text-align: left;
    div {
        display: block;
        max-width: 200px;
        float: left;
        margin: 10px !important;
    }
}