

.landing-page {
    width: 100%;
    height: 1000px;
    padding: 0px;
    margin: 0px;
    color: white;
    font-size: 2em;
    font-family: 'inherit';
    text-align: center;
    .scroll-target {
        position: absolute;
        z-index: 1;    
        width: 100%;
        height: 40%;
        text-align: center;
        top: 220px;
        
        .counter {
            position: absolute;
            left: 8%;
            line-height: 2px;
            &:hover {
                text-decoration: underline;
            }
        }
        .text {
            position: absolute;
            right: 5%;
            font-size: 15px;
            width: 20%;
            word-wrap: break-word;
            line-height: 40px;
            -moz-osx-font-smoothing: grayscale
        }

    }
    .video-image-canvas {
        min-width: 100%;
        height: 100vh;
        position: absolute;
        left:0px;
        top: 0px;
        z-index: -1;
    }
    .video-wrapper {
        z-index: -1;
        position: absolute;
        // left:-15%;
        top:90px;
        width: 100%;
        height: 100vh;
        -webkit-transition: width 2s; /* Safari */
        transition: width 2s;
    }
}
.count-total {
    position:absolute;
    left:10%;
    top:125px;
    font-size: 2.1em;
    z-index: 20;
    svg:hover {
        fill:white;
    }
    span {
        width: 100%;
        display: block;
        &:hover {
            svg {
                fill:white;

            }
        }
    }
}


@media only screen and (max-width: 900px) {
    
    #svg {
        display: none;
    }
    .text {
        display: none;
    }
    .video-image-canvas {
        height: 100%;
        width: auto;
    }
    .video-wrapper {
        left: 0px;
        width: 100%;
        font-size: .6em;
    }
    .status-circle {
        top: 0vh;
        width: 100%;
        left: 0%;
    }
    .landing-page {
        .scroll-target {
            .counter {
                display: none;
            }
        }
    }

    .count-total {
        width: 100%;
        margin: 0%;
        left: 0;
        top: 0;
        .count-total-number {
            opacity: 0;
            // height: 30vh
        }
        svg {
            font-size: 1em;
            width: 20%;
            left: 0%;
            position: absolute; 
            height: 3em;
            // margin: auto;
            z-index: 1;
            fill: white;
            &:hover {
                fill: red !important;
            }
        }
        .svg-up {
            top: 5vh;
        }
        .svg-down {
            top:50vh;
        }
    }
}

@media only screen and (min-height: 800px) {
    .video-wrapper {
        font-size: 1.3em;
    }
}
@media only screen and (max-width: 600px) {
    .video-wrapper {
        font-size: .5em;
    }
    .status-circle {
        top: 0vh;
        width: 100%;
        left: 0%;
    }
    .count-total {
        width: 100%;
        margin: 0%;
        left: 0px;
        top: 10px ;
        svg {
            width: 3em;
            left: 26%;
            width: 30%;
            left: 35%;
            font-size: 1em;
            position: absolute; 
            height: 2em;
            margin: auto;
            z-index: 1;
            fill: white;
            &:hover {
                fill: red !important;
            }
        }
        .svg-up {
            top: 5vh;
        }
        .svg-down {
            top:55vh;
        }
    }
}