.other-listings-wrapper {
    padding: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0px;
    h3 {
        text-align: center;
    }
}

.header-wrapper-listings {
    position: relative;
    width: 100vw;
    padding-bottom: 30px;
}
.other-listings-header {
    text-align: center !important;
}
.scroll-horizontal {
    transition: margin 1s;
    text-align: left;
    left: 0px;
    float: left;
    width: 4000px;
    margin-left: 0px;
}
.scroll-listings {
    position: absolute;
    top: -20px;
    opacity: .8;
    transition: opacity .5s;
    &:hover{
        opacity: 1;
        transition: opacity .5s;
    }
}
.scroll-left-listings {
    left: 20%;
}
.scroll-right-listings {
    right: 20%;

}
