.location-marker {
    span {
        font-size: 1.2em;
    }
    span:before {
        content:""; 
    background: red; 
    position: absolute; 
    top: 0; 
    left: -15px; 
    height: 50px; 
    width: 8px;
    -webkit-transition:width 2s !important;
    -moz-transition:width 2s !important;
    -ms-transition:width 2s !important;
    -o-transition:width 2s !important;
    transition:width 2s !important;
    transform-origin: right top;
    }
    span:hover:before {
        content:"";
        color: red !important;
        width: 15px; 
        transform-origin: right top;
        -webkit-transition:width 2s !important;
        -moz-transition:width 2s !important;
        -ms-transition:width 2s !important;
        -o-transition:width 2s !important;
        transition:width 2s !important;
      }
}