
body{
    font-family: "NeoRetroFill", Garamond, serif;
    color: #636363;
    font-size: 1.2em;
    overflow-x: hidden !important;
}
a{
    text-decoration: none;
    color:black;
    &:hover{
        text-decoration:none;
        font-weight:none
    }
}

.background-image{
    position: fixed;
    z-index: -1;
    margin-left: -15px;
    margin-top:-10%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-width: 120vw;
    img{
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        max-width:100%;
    }
}
.background-image-padding{
    height: 40vh;
}
.keyword-block-row{
    margin-bottom: 0px;
}
.keyword-block{
    max-width: 600px;
    background:white;
    margin:auto;
    margin-bottom:0px;
    padding: 10px;
    ul{
        margin-bottom: 0px;
    }
}
.carousel-agent-wrapper{
    max-width: 800px;
    img{
        max-width: 100%;
    }
}
.listing-block-wrapper{
    background: white;
    z-index: 2;
}
.property-info-wrapper{
    background: white;
    min-height: 500px;
}
.chip{
    font-size: 1.1em;
}

.contact-bar{
    width: 100%;
    background-color: grey;
    position: relative;
    ul {
        width: 100%;
        padding: 0px;
        text-align: center;
        margin: 0;
        li {
            width: 32%;
            padding: 0px;
            height:20px;
            display: inline-block;
            font-size: .8em;
            i, a {
                font-size: .8em;
                padding-right: 3px;
                color: black !important;
            }

        }
    }
}
.nav-extended{
    background: white;
    min-height: 120px;
    li, a{
        color:black;
        text-transform: capitalize;
        font-weight: 500;
        
    }
}
.nav-wrapper{
    min-height: 120px;
}
.hide-on-med-and-down{
    padding-top: 20px;
    a{
        color:rgba(0,0,0,0.67);
        font-size: 18px;
        font-weight: 500;
        font-family: "NeoRetroFill", Garamond, serif !important;
    } 
}

.brand-logo{
    padding: 10px !important;
    img{
        max-width: 100px;
    }
}
.page-footer{
    background: black;
}
.footer-links {
    width: 50%;
    margin: auto;
    padding-top: 20px;
    color: white;
    min-width: 300px;
    li {
        display:inline;    
        margin: 2%;  
        font-size: 1.2rem;
        letter-spacing: .03em;
        color: #737373;
        transition: color 1s;
        a{
            color: #737373;
        }
        &:hover {
            transition: color 1s;
            color: white;
        }
        &:after {
            content: ' ';
            width: 1px;
            height: 100%;
            font-size: .1em;
            top: -10px;
            left: -10px;
            top: 0;
            background: white; 
            margin-left: 3%;
        }
    }
}
.contact-label {
    color: white;
    margin-right: 10px;
    font-size: 1.2em;
}
.contact-content{
    color:#737373;
    font-size: 1.2em;
    a{
        color:#737373;
    }
}
.button-share{
    padding: 20px;
}
.custom-share-icon {
    width: 32px;
    height: 32px;
    overflow: hidden;
    border-radius: 15px;
    background: white;
    display: inline-block;
    img {
        max-width: 100%;
    }
}
.copyright-block{
    p{
        width: 100%;
        color:#737373;
    }
}
.links-footer-block{
    padding-top: 20px !important;
}

.other-listings-wrapper {
    padding: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0px;
    h3 {
        text-align: center;
    }
}

.header-wrapper-listings {
    position: relative;
    width: 100vw;
    padding-bottom: 30px;
}
.other-listings-header {
    text-align: center !important;
}
.scroll-horizontal {
    transition: margin 1s;
    text-align: left;
    left: 0px;
    float: left;
    min-width: 5000px;
    margin-left: 0px;
}
.scroll-listings {
    position: absolute;
    top: -20px;
    opacity: .8;
    transition: opacity .5s;
    &:hover{
        opacity: 1;
        transition: opacity .5s;
    }
}
.scroll-left-listings {
    left: 20%;
}
.scroll-right-listings {
    right: 20%;

}
.listing-card-title{
    background: rgba(0, 0, 0, 0.54);
    &:hover{
        background: rgba(0, 0, 0, 0.74)
    }
}

.listing-card {
    margin: auto;
    flex-shrink: 2;
    display: inline-block;  
    transition: opacity 3s;
    font-family: "NeoRetroFill", Garamond, serif;
    height: 500px;
    overflow: hidden;
    padding: 10px;

    img {
        max-height: 300px;
        overflow: hidden;
    }
}

.hover-hide-background {
    &:hover {
        background: rgba(0, 0, 0, 0.1) !important;
    }
}

.listing-card-small{
    width: 15%;
}
.scroll-card{
    max-width: 500px;
}
.mobile-card{
    max-width: 100%;
    width: 100%;
}
.listings-header{
    font-size: 3.12rem;
    line-height: 110%;
    color:black;
}