.background-image{
    position: absolute;
}
.background-image-padding{
    height: 40vh;
}
.keyword-block{
    max-width: 600px;
    background:white;
    margin:auto;
}
.carousel-agent-wrapper{
    max-width: 600px;
    img{
        max-width: 100%;
    }
}